@font-face {
  font-family: "Ruda";
  src: url(/resources/ruda-regular.ttf),
    local(Ruda);
}

html, head {
  font-family: sans-serif;
  color: #383e4d;
}
main {
  max-width: 40em;
  margin: 0 auto;
}
h1, h2, h3 {
  font-family: Ruda;
  font-weight: normal;
  margin: 1em 0;
}
h1, h2 {
  margin-top: 1.6em;
  margin-bottom: 1em;
}
h1 { font-size: 2.2em; color: #000000; }
h2 { font-size: 1.8em; color: #37174d; }
h3 { font-size: 1.5em; color: #25282f; }

a {
  color: #004df1;
}
a:visited {
  color: #501fbd;
}

h1.module-name {
  margin-top: 2em;
  margin-bottom: 1.4em;
}

div.summary {
  margin: 1em 0;
}

.module > .sections > div.description,
.module > .sections > div.example {
  text-align: justify;
}

div.blank {
  margin-bottom: 1em;
}

pre {
  position: relative;
  margin: 2em 0;
  border: 2px solid #424242;
  border-radius: 1em;
  padding: 1.8em 2em;
  text-indent: 4ch hanging each-line;
  text-align: left;
  text-align: start;
  white-space: break-spaces;
  background-color: #030e22;
  color: #fff;
  overflow-x: auto;
}
pre code {
  line-height: 1.8;
}
pre.language-d {
  border-bottom: none;
  border-bottom-right-radius: 0;
}
pre.language-d::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.3em;
  background: linear-gradient(90deg, #53b7ff00 20%, #6ac1ff 60%, #0057f1 70%, #741fbd 90%);
}

div > pre {
  margin-left: -2em;
  margin-right: 2em;
}

code {
  font-size: 1.2em;
}
code code {
  font-size: inherit;
}
code span.comment {
  color: #75c6b6;
}
code span.string {
  color: #28bda8;
}
code span.keyword {
  color: #ba87f9;
  font-weight: 500;
}

.members li {
  position: relative;
  list-style: none;
  margin: 2em 0;
}
.members li::before {
  content: "";
  position: absolute;
  left: -4em;
  border-radius: 0.2em;
  background: linear-gradient(#0057f1, #793ad5);
  height: 4em;
  width: 0.4em;
  margin: 0.6em 0;
  opacity: 60%;
}
.members li:hover::before {
  opacity: 100%;
}
.members li::after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 2em auto;
  background: #ccc;
}
.module-members {
  padding: 0;
}
.member-header,
.declaration {
  margin-left: -2em;
  margin-right: -2em;
}
.declaration pre {
  margin-left: 0;
  margin-right: 0;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.member-header {
  position: relative;
  padding: 0.6em 2em;
  background: #f4f4f4;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.member-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.2em;
  background: linear-gradient(90deg, #0057f1, #741fbd 90%);
}
.member-header h2 {
  font-size: 1.4em;
  margin: 0;
}
.member-header h2 a {
  text-decoration: none;
}
.declaration pre {
  margin-top: 0;
  padding: 0.8em 2em;
  font-size: 0.90em;
  color: #b6babd;
  white-space: collapse;
}
.declaration pre .psymbol {
  color: #45d8f0;
}
.declaration pre .template-param-list {
  color: #adaaff;
}
.declaration pre .template-param-list::before {
  content: "!";
  color: #b6babd;
}
.declaration pre .param {
  color: #fff;
}
.declaration pre .constraint {
  display: inline-block;
  padding-left: 4ch;
  opacity: 40%;
}
.declaration pre .constraint:hover {
  opacity: 100%;
}
.declaration pre .overload-separator {
  display: block;
  height: 0.4em;
}
.declaration pre code {
  line-height: 1.6;
}

.params table {
  padding-left: 2em;
}
.params .param-id {
  color: #000;
}
